@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

.table_s {
    font-size: 1.2em;
    font-family: 'Roboto Slab', serif;
    border: 1px solid black;
    background-color: #f2f2f2;
    color: #6c1e1e;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    margin: 0 auto;
}

.table_s th {
    font-size: 1.2em;
    padding: 10px;
    border: 1px solid black;
    color: #6c1e1e;
}
.table_s td {
    font-size: .8 em;
    padding: 5px;
    border: 1px solid black;
    color: #6c1e1e;
} 
.table-layout {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    font-family:"Trebuchet MS";
    margin: 0 auto 0;
} 
.table-layout td, .table-layout th {
    border: 1px solid grey;
    padding: 5px 5px 0;
}
.table-layout td {
    text-align: left;
}
.selected {
    color: red;
}
tr:hover{
    background-color: #00000027;
    font: white;
}
